:root {
  --main-color: #1f1f1f;
  --main-bg-img: url(./images/background.jpg);
  --main-bg-color: rgba(235, 235, 235, 0.8);
  --main-font-familly: "Ubuntu", sans-serif;
  --main-border-radius: 28px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-familly);
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: var(--main-bg-img);
  background-color: var(--main-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--main-color);
  text-align: center;
  padding: 0 6vw;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: lighter;
}

/* Start Main */
main {
  height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main header {
  background-color: var(--main-bg-color);
  padding: 50px 140px;
  margin: 0 auto;
  border-radius: var(--main-border-radius);
}
main header h1 {
  font-size: 112px;
  text-transform: uppercase;
  color: var(--main-color);
  display: inline;
  position: relative;
  font-weight: 400;
}
main header h1::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -7px;
  width: 80%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--main-color);
}
main header h1::after {
  position: absolute;
  content: "Not Nginx";
  right: 0;
  bottom: -10px;
  font-size: 16px;
  font-weight: 700;
}
/* End Main */

/* Start Profiles */
.profiles {
  display: flex;
  justify-content: space-between;
}
.profile {
  background-color: rgba(41, 41, 41, 0.6);
  padding: 35px 50px;
  border-radius: var(--main-border-radius);
  transition-duration: 0.2s;
}
.profile:hover {
  background-color: rgb(41, 41, 41, 0.8);
  box-shadow: 0 1px 20px -2px var(--main-bg-color);
  cursor: pointer;
}
.profiles img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  margin-bottom: 30px;
  box-shadow: 0 1px 20px -2px var(--main-bg-color);
}
.profiles h3 {
  font-size: 20px;
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 15px 0;
  border-radius: var(--main-border-radius);
}
/* End Profiles */

/* Start Testing */
.test-section {
  background-color: var(--main-bg-color);
  padding: 20px;
  margin: 50px auto;
  width: 70%;
  border-radius: var(--main-border-radius);
  box-shadow: 0 1px 20px -2px var(--main-color);
}
.test-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
button,
input[type="submit"] {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
}
input[type="file"],
input[type="text"] {
  padding: 8px;
}
/* End Testing */
